@model IEnumerable<DullStore.Models.GioHang>

@{
    ViewBag.Title = "ListHoaDon";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Danh sách hóa đơn</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ma)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.makhachhang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ngaydathang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ngaygiaohang)
        </th>
        <th style="width:260px;">
            @Html.DisplayNameFor(model => model.tinhtranggiaohang)
        </th>
        <th style="width:250px;">Chức năng</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ma)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.makhachhang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ngaydathang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ngaygiaohang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tinhtranggiaohang)
            </td>
            <td>
                @{
                    if (item.tinhtranggiaohang == "Đang giao hàng")
                    {
                        @Html.ActionLink("Cập nhật", "Edit", new { id = item.ma }, new { @class = "btn btn-primary" })
                    }
                    else if (item.tinhtranggiaohang == "Đã giao hàng và khách hàng đã thanh toán đầy đủ ")
                    {
                        @Html.ActionLink("Cập nhật", "Edit", new { id = item.ma, @hidden = "hidden" }, new { @class = "btn btn-primary" })

                    }
                }

                @Html.ActionLink("Chi tiết", "Details", new { id = item.ma }, new { @class = "btn btn-info" })
                <a class="btn btn-danger" href="/QuanLyHoaDon/DeleteHD?id=@item.ma" onclick="return confirm('Bạn có chắc chắn muốn xóa hóa đơn này?');" role="button">Xóa</a>
            </td>
        </tr>
    }
</table>