@model IEnumerable<DullStore.Models.KhachHang>
@{
    ViewBag.Title = "ListKhachHang";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Danh sách khách hàng đã mua hàng tại DullStore</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ma)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hoten)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.diachi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sodienthoai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>Chức năng</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.ma)</td>
            <td>
                @Html.DisplayFor(modelItem => item.hoten)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.diachi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sodienthoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.ActionLink("Cập nhật", "Edit", new { id = item.ma }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Xóa", "DeleteKH", new { id = item.ma }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }
</table>